<!DOCTYPE html>
<html>
<head>
  <title>Recipe App</title>
</head>
<body>
  <nav>
    <ul>
      <li><%= link_to 'Foods', foods_path %></li>
      <li><%= link_to 'Recipes', reciipes_path %></li>
      <li><%= link_to 'Public Recipes', public_reciipes_path %>
      <li><%= link_to 'General Shopping List', shopping_list_foods_path %>
    </ul>
  </nav>
</body>
</html>
