<!-- app/views/home/index.html.erb -->
<!DOCTYPE html>
<html>
<head>
  <title>Recipe App</title>
  <!-- Add your stylesheet and other meta tags here -->
</head>
<body>
  <nav>
    <ul>
      <li><%= link_to 'Recipes', reciipes_path %></li>
    </ul>
  </nav>

  <!-- Your main content here -->
</body>
</html>
