<!-- app/views/foods/shopping_list.html.erb -->
<div class="recipelist-container">
<h1>Shopping List</h1>

<div class="shopping-title">
<p>Amount of food items to buy:</p>
<p>Total value of food needed:</p>
</div>

<table class="foodlist-talbe">
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity </th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
    <% shopping_list.each do |item| %>
      <tr>
        <td><%= item[0] %></td>
        <td><%= item[1] %></td>
        <td><%= 0 %></td>
        </tr>
    <% end %>
  </tbody>
  </table>