table {
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
}

.foodadd-container {
  text-align: right;
  margin-right: 15%;
  margin-bottom: 2%;
}

h1 {
  text-align: center;
  color: black;
}

.recipelist-container {
  width: 90%;
  margin: 2% auto;
}

#reciipes {
  width: 90%;
  margin: 2% auto;
}

.reciipe-all {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 1%;
  border: solid 1px black;
  margin-bottom: 1.5%;
}

.recipe-title p {
  margin-bottom: 4%;
}

.loginpage {
  display: flex;
  background-image: url('cuisine.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.login {
  width: 40%;
  margin: 5% auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 15%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  font-weight: bold;
}

.signup-inner {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #BA55D3;
  margin: 2%;
  padding: 1%;
  border-radius: 4%;
}

.signup {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("chef.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #d8bfd8;
  color: white;
  margin-top: 0;
  padding-bottom: 5%;
}

.actions {
  margin-top: 5%;
}

.signup p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
}

.signup h2 {
  margin-bottom: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  background-color: #AFDBF5;
  align-items: center;
}

nav ul {
  display: flex;
  text-decoration: none;
}

nav li {
  display: inline-block;
  margin-right: 30px;
  font-size: 20px;
  text-decoration: none;
}

nav li :hover {
  border: 1px solid rgba(0, 0, 255, 0.409);
  background-color: lightblue;
  padding: 2px 4px;
}

.logo {
  width: 80px;
}

.detail, .buttongroup-recipe {
  font-size: 20px;
  display: flex;
  justify-content: space-around;
}

.buttongroup-reciper {
  justify-content: space-between;
}

.reciipe-all li {
  list-style-type: none;
  font-size: 20px;
}