<h1>Public Recipes</h1>

<ul>
  <% @public_reciipes.each do |recipe| %>
    <li>
      <%= link_to recipe.name, reciipe_path(recipe) %>
      <% if current_user == recipe.user %>
        <%= link_to "Delete", recipe, method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </li>
  <% end %>
</ul>
